
.hw8 {
    border-bottom: grey 1px solid;
}

.marginHeader {
    margin-top: 10px;
}

.button {
    margin-top: 10px;
}

.body {
    margin-top: 10px;
}

.qwer {
    display: flex;
    justify-content: space-between;
    width: 190px;
}